<h1>Listing articles</h1>
  <% if logged_in? %>
    <%= link_to 'New article', new_article_path %>
  <% end %>

<form action='' method='get'>
  <input type='text' name='token' placeholder='Search' value='<%=params[:token]%>'/>
  <button type='submit'>Search</button>
</form>

<%= will_paginate %>
<div class="main__container">
  <table>
    <tr class='row'>
      <th>Title</th>
      <th>Text</th>
      <th>Created</th>
      <th>Author</th>
      <th></th>
    </tr>
    <% @articles.reverse.each do |article| %>
      <tr class="row">
        <td class="col-2"><%= article.title %></td>
        <td class="col-7"><%= article.text %></td>
        <td class="col-1"><%= time_ago_in_words(article.created_at)+' ago' %></td>
        <td class="col-2">
          <%= gravatar_for(article.user)%>
          <%= article.user.name %>
        </td>
        <td class="col-2">
        <div class="buttons-container">
            <%= link_to 'Show', article_path(article) %>
          <% if logged_in? %>
              <%= link_to 'Edit', edit_article_path(article) %>
              <%= link_to 'Destroy', article_path(article),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
          <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<%= will_paginate %>