<h1>Listing articles</h1>
  <% if logged_in? %>
    <%= link_to 'New article', new_article_path %>
  <% end %>

<form action='' method='get'>
  <input type='text' name='token' placeholder='Search' value='<%=params[:token]%>'/>
  <button type='submit'>Search</button>
</form>

<%= will_paginate %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Created</th>
    <th>Author</th>
    <th></th>
  </tr>
  <% @articles.reverse.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= time_ago_in_words(article.updated_at)+' ago' %></td>
      <td>
        <%= gravatar_for(article.user)%>
        <%= article.user.name %>
      </td>
      <td>
        <%= link_to 'Show', article_path(article) %>
        <% if logged_in? %>
            <%= link_to 'Edit', edit_article_path(article) %>
            <%= link_to 'Destroy', article_path(article),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate %>