<div>
<%= link_to 'Back', articles_path, class: "btn btn-primary" %>  
</div>

<div class="article">
  <p class="author">
    <strong>Author:</strong>


  <% if @article.user.avatar.attached? %>
    <%= image_tag url_for(@article.user.avatar) %>
      <%# <%= image_tag @article.user.avatar %> 
  <% else %>
    <%= gravatar_for(@article.user)%>
  <% end %>
    <%= @article.user.name %>
  </p>
  <p>
    <strong>Title:</strong>
    <%= @article.title %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= @article.text %>
  </p>
</div>


<h2>Comments</h2>
  <%= will_paginate @comments%>
<ul>
  <%= render partial: 'comments/comment', collection: @comments %>
</ul>

 <% if logged_in? %>
    <h2>Add a comment:</h2>
    <%= render 'comments/form' %>
<% else %>
    <h2>Please, log in to add your own comment<h2>
<% end %>


